// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@mixin plus-add($pluscolor, $color) {
	color: $color;
	background-color: $pluscolor;
	content: "+";
	padding: 0 4px;
	font-size: 30px;
	margin:0 10px 30px 0;
	float: left;
}

// COLORS
$orange: #fcb53b;
//252,181,59
$teal: #00b5d1;
//0, 180, 208
$pink: #f05674;
//240,86,116
$darkpink: #d34466;

body, p, h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4{
	text-transform: uppercase;
	line-height: 1;
}
h2{
	font-weight: 600;
}
.clearfix:before, .clearfix:after{
	clear:both;
	content: " ";
	display: table;
	background-color: black;
}
section{
	padding: 50px 0;
}
.button{
	background-color:$pink;
	&:hover{
		background-color: $darkpink;

	}
}

// header
#intro{
	padding: 0;
	background-image: url('../images/intro-group.jpg');
	background-size: cover;
	background-position: center bottom;
	box-shadow: inset 0 0 0 1000px rgba(0,115,127, 0.8);
	.row, .columns{
		margin: 0 auto;
		text-align: center;
		padding: 0;
	}
	img{
		padding: 20% 10%;
	}
}

// sign the #hireme pledge
#action{
	
}

// three testimonials
#testimonials{
	background-color: $orange;
	img{
		z-index: 200;
	}
	h2{

		&:before{
			@include plus-add($orange, #fff);
		}
	}
	.columns{
		margin: 0;
		padding: 0;
	}
	.description{
		position: relative;
		margin:-50px 0.75em 0.75em 0.75em;
		padding:1.25em;
		background-color: white;
		*{
			z-index: 100;
		}
	}
}

// map area
#map{
	background-color: $teal;
	h2{
		&:before{
			@include plus-add($pink, #fff);
		}
		color: $orange;
	}
	h3{
		text-align: center;
		color: $orange;
		padding:20px 0;
		border-bottom: 1px dotted #fff;
	}
	ul {
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
		-moz-column-count: 3; /* Firefox */
		column-count: 3;
		li{
			color: #fff;
			list-style: none;
			&:before{
				content: "+";
				color: $orange;
				font-weight: bold;
				padding: 2px 6px;
				font-size: 20px;
			}
		}
	}
}

// infographic largest pipeline
#infographic{
	background: url('../images/bg-twitter.jpg') center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(255,255,255, 0.5);
	h2{
		color: $teal;
		&:before{
			@include plus-add($pink, #fff);
		}
	}
	h3{
		color: $pink;
		text-align: center;
		margin-top: 40px;
	}
	h4{
		color: black;
		line-height: 1.5;
		margin-top: 20px;
	}
	.missions{
		min-height: 225px;
		text-align: center;
		margin-top: 50px;
		border-right: 1px $pink dotted;
		&:last-child{
			border-right: none;
		}
	}

}



// statistics
#statistics{
	padding: 0;
	background: url('../images/bg-twitter.jpg') center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(252,181,59, 0.8);
	h3{
		font-weight: 900;
		font-size: 85px;
		margin-bottom: 10px;
	}
	p{
		font-weight: bold;
		text-transform: uppercase;
	}
	.stat{
		width: 100%;
		padding: 0 0.9375em;
		img{
			padding: 1%;
		}
	}
	.col-left{
		padding-top: 50px;
		h3{
			font-size: em-calc(130);
			color: #fff;
			margin-top: 10px;
		}
		p{
			font-size: 60px;
			color: $pink;
			line-height: 1;
		}
	}
	.col-right{
		h3{
			color: $pink;
		}
		.stat{
			box-shadow: inset 0 0 0 1000px rgba(255,255,255, 0.5);
		}
		.stat:nth-child(3){
			h3{
				color: $teal;
			}
		}
		.stat:nth-child(2){
			h3{
				color: #fff;
			}
			background-color: rgba(0, 180, 208, 0.8);
			box-shadow: none;
		}
	}
	
}

// signup area
#signup{
	background-color: $teal;
	h2, h3, h4{
		color: #fff;
	}
}


// logos
#logos{
	h3{
		color: $pink;
		text-align: center;
		letter-spacing: 1px;
	}
	h4{
		text-align: center;
		letter-spacing: 1px;
		margin: 40px 0 20px;
	}
	.large-8{
		img{
			margin: 0 2%;
		}
	}
	.biglist{
		border-top:1px dotted $pink;
		padding-top: 40px;
		margin-top: 40px;
		ul{
			-webkit-column-count: 5; /* Chrome, Safari, Opera */
			-moz-column-count: 5; /* Firefox */
			column-count: 5;
			li{
				list-style: none;
				margin: 20px 0;
			}
		}
		img{
			width: 100%;
			height: 50px;
			background-color: #666;
		}
	}
}